<!DOCTYPE html>
<html>
    <head>
        <title>Sistema</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div class="container">
                <h2>Registro de Provincias</h2>
            </div>
        </header>
        <div class="container">
            <form action="" method="POST">
                    <input type ="text" class="form-group" placeholder ="Nombre de Provincia">
                    <button type="submit" class="btn btn-primary"> Subir </button>
            </form>
        </div>
    </body>
</html>
